.container {
    width: 450px;
    height: 270px;
    margin: 200px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    }
  h1 {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin: 10px  5px;
  }
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 10px 20px;
    background-color: #4a4a8a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
   margin:  0 auto;
   margin-bottom: 20px;
  }
  button:hover {
    background-color: #3b3b6d;
  }
  #p{
   
    color: blue;
    display: inline;
  }  